<label for="Group Name:">Group Name:  </label>{{ groupdetails.name }} <br><br>

<label for="creator_name">Creator: </label><a href="/people/{{ people.id }}/">{{ people.first_name }} {{ people.last_name }}</a><br><br>

<label for="Members">Members:  </label>{{ groupdetails.members }} <br><br>

<label for="Description">Description:  </label>{{ groupdetails.description }} <br><br>

<label for="category">Category:  </label>{{ groupdetails.category }} <br><br>

<label for="Website">Website:  </label>{{ groupdetails.website_url }} <br><br>

<button class="button"><a href="/society/group">Go Back</a></button>