<h1>Welcome</h1>
<input type="about_me" name="about_me" placeholder="aboutme"><br><br>

	<input type="first_name" name="first_name" placeholder="first name"><br><br>

	<input type="last_name" name="last_name" placeholder="last name"><br><br>

	<input type="username" name="username" placeholder="user name"><br><br>

	<input type="birth_date" name="birth_date" placeholder="birth date"><br><br>

	<input type="fav_movies" name="fav_movies" placeholder="fav movies"><br><br>

	<input type="file" name="photo_url"><br><br><br>	

	<input type= "submit" value="Signup"><br><br>
	